root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 2
trim_trailing_whitespace = true

[*.sass]
indent_size = 2

[*.scss]
indent_size = 2

[*.styl]
indent_size = 2

[{*.js,*.cjs}]
indent_size = 2
tab_width = 2

[{.babelrc,.prettierrc,.eslintrc,jest.config,bowerrc,.stylelintrc,*.json,*.jsb3,*.jsb2}]
indent_size = 2
